.THIS {
}

.THIS .footer1 {
    top: 90%;
    left: 33%;
    transform: translate(-50%, -50%);
    z-index: 5000;
}

.THIS.RisenBorder {
    box-shadow: 0 2px 4px 4px rgba(0,0,0,.16);
    border-radius: .25rem;
    
}

.THIS .forceInputMultiPicklist div[id$="-group-label "]{
    display : none ;
}

.THIS .slds-dueling-list__options{
  max-width :140px 
     
}

.THIS .sldsTest{
    font-weight: bold;
}

.THIS.icn svg {
  fill : green;
}