.THIS fieldset div.form-element__group .slds-form-element {
    border-bottom:1px solid #ddd;
}
    
.THIS .slds-form_compound .slds-form-element+.slds-form-element{
    padding-left:0;
	margin-left:1rem;	 
}

.THIS .slds-button-group{
    margin: auto;
    width: 40%;
    padding: 50px; 
    margin-top: -46px;
    
}

.THIS .alert-box_error{ 
    background-size: 40px 10px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4); 
    width: 51%;
    border: 1px solid;
    color: #fff; 
    padding: 17px;
    position: fixed; 
    _position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    animation: animate-bg 5s linear infinite;
    background-color: #de4343;
    border-color: #c43d3d;
    margin-top: -710px;  
}

.THIS .btnstl
{ 
    margin-left: 83px;
}