.THIS .slds-text-title--caps  {
    font-size: 0.75rem;
}
.THIS .slds-hint-parent{
    font-size: 0.75rem;
}
.THIS .slds-card__body{
    overflow-x:auto;
}
.THIS .ItemsPerPage{
   width: 100px;
}
.THIS .searchIcon{
    padding-bottom: 8px;
}


@media (min-width: 48em) {
.THIS.slds-modal_large {
    width: 70%;
    max-width: none;
    min-width: 40rem;
}}