.THIS .slds-form .slds-input,
.THIS .slds-form .slds-select,
.THIS .slds-form-element__static {
    margin-bottom: 0.5rem;
}

.THIS .text-notice {
	background: #fdf7c3;
    padding: 0.5rem 1rem;
    border: 1px solid #e4d979;
}

.THIS .section {
    background: #eee;
    border: 1px solid #ddd;
    margin: 1rem;
}

.THIS .section .section-heading {
    padding: 0.75rem 1rem;
    background: #ddd;
}

.THIS .section .section-body {
    padding: 1rem;
}

.THIS .hide {
    display: none ;
}

.THIS .span_color{
    color:red;
}

.THIS .contentWrapper div {
    background-color: white;
}