.slds-card__header-title{
    background-color: #54b948;
    font-size: 18px;
    color: white;
    padding: 4px;
    margin-block-start: 20px;
}
.slds-line-height_reset th,title{
    font-weight: bold;
    background-color: lightgoldenrodyellow;
}
.table_header .slds-card__header-title{
    background-color: #54b948;
    font-size: 18px;
    color: white;
    padding: 4px;
    margin-block-start: 20px;
}