.THIS .containerDiv {
  box-sizing:border-box;
	border: 2px  #0070d2;
       
   
}
.THIS div.container {
    margin: 0px 20px 0px 25px;
}


.THIS div.show{
    display:block;
}
.THIS div.hide{
    display:none;
}
.THIS .InputSize {    
    width: 100px;
}
.THIS .uiMessage.confirm {
    border-color: #f4f6f9;
    background-color: #f4f6f9;
}


.THIS .well {
    position: relative;
    overflow: hidden;
}
.THIS fieldset {
    display: block;
    margin: 0 10px;
    float: left;
}
.THIS custom-dur {
    margin-left:20px;
    margin-right:50px;
}

.THIS .FillColor{
    background: #ff8566;
}
.THIS .FillColorRemove{
    background: white;
}
.THIS .WidthControll{
    width: 60px;    
    height:36px !important;
}
.THIS .inputHeight{
    height: 1.475rem !important;
    line-height: 0 !important;
    min-height: 0 !important;
}
.THIS .selectHeight{
    height: 1.475rem !important;
}