/*--Media Query--*/
@media (min-width: 1100px) {
    
    a {
        padding:0px;
    }
    h1[id] {
     padding-bottom:20px;   
    }
}
@media(min-width:1400px){
	.container{
		width:1200px;
	}
}
@media(min-width:1200px){
    .col-md-4 {
        width: 33.333333%;
    }
     .like-icon {
        margin-left: -75px;
        z-index: 99;
        position: absolute;
        margin-top: 25px;
    }
    .vote-text {
        margin-left: -55px;
         z-index: 99;
         position: absolute;
         margin-top: 27px;
         font-size: 12px;
    }
    .like-btn {
        margin: 3px 0px 0px 39px;
    }
    .plus-icon {
        float: left;
        position: absolute;
        margin-left: -197px;
        width: 15px;
        margin-top: 14px;
        }
    .post-idea {
        position: absolute;
        margin-left: -174px;
        margin-top: 11px;
        color: #000;   
    }
}
@media(max-width:1199px){
	input[type="search"]{
		width: 83%;
        float: left;
	}
    .like-icon {
        margin-left: 40px;
        z-index: 99;
        position: absolute;
        margin-top: 23px;
    }
    .plus-icon {
        float: left;
        position: absolute;
        margin-left: -163px;
        width: 15px;
        margin-top: 14px;
        }
    .post-idea {
        position: absolute;
        margin-left: -141px;
        margin-top: 11px;
        color: #000;   
    }
    .vote-text {
        margin-left: 63px;
         z-index: 99;
         position: absolute;
         margin-top: 25px;
         font-size: 12px;
    }
    .idea-context {
        margin-top:20px;   
    }
    a {
        padding:0px;   
    }

}
@media (max-width: 990px) {
    .like-btn {
        margin: 3px 0px 0px 2px;
    } 
    .plus-icon {
        float: left;
        position: absolute;
        margin-left: -22%;
        width: 15px;
        margin-top: 14px;
        }
    .post-idea {
        position: absolute;
        margin-left: -19%;
        margin-top: 11px;
        color: #000;   
    }
}
@media (max-width: 767px){
.navbar-inverse {
        background-color: #00498f;
        background:#00498f!important;
}
}
@media (max-width: 600px){
     .plus-icon {
        float: left;
        position: absolute;
        margin-left: -24%;
        width: 15px;
        margin-top: 14px;
        }
    .post-idea {
        position: absolute;
        margin-left: -20%;
        margin-top: 11px;
        color: #000;   
    }
}
@media (max-width: 490px){
     .plus-icon {
        float: left;
        position: absolute;
        margin-left: -25%;
        width: 10px;
        margin-top: 16px;
        }
    .post-idea {
        position: absolute;
        margin-left: -22%;
        margin-top: 13px;
        color: #000;   
        font-size:12px;
    }
}
@media (min-width: 768px){
.navbar-inverse {
        background-color: #00498f;
        background:#00498f!important;
}
}
@media (min-width: 992px) {
.panel {
    padding: 20px;
}
}
@media (max-width: 1199px) {
.col-md-4 {
    width: 31.333333%;
}
}
/*--fonts--*/
h1 {
    font-size:24px;
    color:#333333;
}
h2 {
    font-family: arial;
    font-size: 18px;
    color:#333333;
}
h3 {
    color:#333333;
}
h4, .top-points {
    font-size:14px;
    color:#004b8d;
}

p {
    font-size: 14px;
    color:#333333;
}
p.sub-title {
    font-size: 14px;
    color:#666666;
    text-decoration:none;
}
p.sub-title:hover {
    font-size: 14px;
    color:#666666;
    text-decoration:none;
}
.view-link {
    font-size:16px;
    text-decoration:none;
    color:#00498f;
}
.view-link:hover {
    text-decoration:underline;
    color:#00498f;
}
.title-drk-blue {
    color:#004B8D; 
    width: 90% !important;  
    text-decoration:none;
}
.close-idea {
    margin:5px 0px;
    color: #666666;
    text-decoration:none;   
}
.idea-head-text {
    font-size: 16px;
    font-family: arial;
    color: #333333;
    margin: 20px 0px;
    float: left;   
}
.light-gray {
    color: #acacac;
    text-decoration: none;
    font-size: 14px!important
}
.drk-gray {
    color:#666666;
    text-decoration:none;
    font-size: 14px!important
}
.drk-blue {
    color:#004B8D; 
    text-decoration:none;
    font-size: 14px!important
}
.comment-link {
    color:#004B8D; 
    text-decoration:none; 
    float: left;   
    font-size: 14px!important
}
.add-fave-link {
    color:#004B8D; 
    text-decoration:none; 
    background: none!important; 
    border: none!important; 
    float:left;
    margin-top:-2px;
    font-size: 14px!important
}
.idea-status {
    background-color: #666666 !important; 
    color: #FFFFFF !important; 
    padding: 3px !important; 
    font-size: 14px !important; 
    border-radius: 3px !important;   
}
.my-idea-text {
    font-family:arial;
    font-size: 14px !important; 
    color:#666666!important; 
    text-decoration:none!important; 
    margin-left: 0px !important;
}
.divider-gray {
    margin:20px 10px;
    color:#666666;
    float:left;   
}
.solo {
    margin-top: 10px !important; 
    width: 90% !important; 
    height:60px !important; 
    overflow: hidden !important; 
    text-overflow: ellipsis !important; 
    white-space: nowrap !important; 
}
.gray-line {
    height:3px;
    width:100%;
    background:#acacac;
    margin-top:0px;
    margin-bottom:10px;
}
.blue-bar { 
    height:30px;
    background:url(../img/line-bg.png) repeat-x;
    width:100%;
}

input[type="search"], input[type="text"]  {
    padding :9px;
    border: 1px #e0e0e0 solid;
}
.btn {
    background:transparent linear-gradient(to bottom, #f4f4f4 0px, #d7d6d6 100%) repeat scroll 0% 0%!important;
    border: 1px #e0e0e0 solid;
    color:#000;
    padding: 8px 11px;
}

.recent-img {
    margin-top:20px;
}

/*--navbar--*/
.nav-tabs {
    background: #e0e0e0;
    margin-top: -21px;
    margin-left: -21px;
    margin-right: -21px;
    border-bottom:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
    color: #000;
    border:none;
    height:43px;
    background-color:#fff;
}
.nav-tabs > li.active > a:hover {
    color: #000;
    border:none;
}
.nav > li > a:hover, .nav > li > a:focus {
    color: #000; 
    background:#fff;
    border:none;
}
.nav > li > a {
    color:#000;
}
.nav-tabs>li>a {
    padding-left: 50px;
    padding-right: 50px;
    text-decoration:none;
    border-right: 1px;
    border-right-color: #999;
    border-right-style: solid;

}
input[type="file"] {
    margin-bottom:30px;
}
.footer-bg {
    background:#fff;
    height: 200px;
    margin-bottom: -50px;
    padding:30px;
}
.hidden-sm {
    display:block!important;   
}

.navbar-inverse .navbar-nav>li>a {
    border-right: 1px solid #3488d9;
}
.bs-docs-sidenav {
    margin-top:0px;   
}
/*carousel*/
.carousel-control {
    color:#999;   
}
.carousel-control.right, .carousel-control.left {
    background-image:none!important;   
}
.carousel .item {
    background-color:transparent!important;   
}
.carousel-caption {
    text-align:left;
    left:10%;
    color:#000;
    text-shadow:none;
}
.carousel-indicators li {
    border: 2px solid #c5c5c5;
}
.carousel-control .glyphicon-chevron-left {
    left:10%;
    top: 38%;
 
}
.carousel-control .glyphicon-chevron-right {
    right:10%;   
    top: 38%;
 
}
.carousel-indicators li .active {
    background:#333333;   
}
.carousel-indicators .active {
    background:#333333;
}

/*---placeholder text color -----*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666666!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #666666!important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #666666!important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #666666!important;
}
/*---end of Navigation ----*/

.bs-docs-sidebar .nav>li>a {
    padding: 4px 0px;
    font-size:14px;
    color:#004b8d;
    text-decoration: none;
}
.bs-docs-sidebar .nav>li>a:hover {
    border: none;
    margin-left: 0px;
    padding-left: 0px;
    font-size:14px;
    color:#004b8d;
}
/*--Input Field---*/
select[multiple], select[size] {
    height:42px;   
}
input[type=checkbox], input[type=radio] {
    opacity: 1;
    margin-left:0px!important; 
}
/*--Panel Accordion---*/
.panel-title>a {
    text-decoration:none;
}
.panel-title>a:hover {
    text-decoration:none;
}
.panel-group .panel {
    margin-bottom:10px;   
}

.panel-default>.panel-heading {
    background:#ededed;
    margin-left:-20px;
    margin-right:-20px;
    padding-left:20px;
    margin-top:-20px;
    margin-bottom:-20px;
    height:40px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top:none;   
    margin-top:30px;
}
/*--Glyphicon size--*/
.gi-2x{font-size: 0.5em;left: -5px;}
.gi-3x{font-size: 2em;left: -5px;}
.gi-4x{font-size: 3em;left: -5px;}
.gi-5x{font-size: 4em;left: -5px;}

/*----tooltip-----*/

a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
    margin-left:15px;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #ffdfa4, #ffdfa4);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffdfa4),color-stop(1, #ffdfa4));
  background-image: -webkit-linear-gradient(top, #ffdfa4, #ffdfa4);
  background-image: -moz-linear-gradient(top, #ffdfa4, #ffdfa4);
  background-image: -ms-linear-gradient(top, #ffdfa4, #ffdfa4);
  background-image: -o-linear-gradient(top, #ffdfa4, #ffdfa4);
}
.link-menu {
    margin:20px 0px;color:#004B8D;float:left;text-decoration:none;background:none; 
}
.link-menu:hover {
    margin:20px 0px;color:#004B8D;float:left;text-decoration:none; background:none; 
}