.THIS table {
    border: 1px solid black;
}

.THIS th {
    border: 1px solid black;
    width:30%;
    text-align:center;
}

.THIS td  {
    border: 1px solid black;
    width:30%;
}

.THIS .redBackG {
    background-color:rgb(242, 161, 153);
}