.THIS .zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 10px Arial, sans-serif;
    
}
.THIS .zui-table thead th {
    background-color: #ecebea;
    border:  1px #DDEEEE;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.THIS .zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;    
    text-shadow: 1px 1px 1px #fff;
}

.THIS th.checkboxHeaderC > lightning-input > div> span > label > span.slds-form-element__label  {
    padding-right: 0rem ;
    font-size:0.786rem;
    font-weight:bold;
   
}

.THIS th.checkboxHeaderC > lightning-input > div> span.slds-checkbox   {
   width:170px ;
     
}


.THIS .label-hidden .slds-form-element__label{
    display: none; 
    visibility: hidden;
}
/*
.THIS .liTypePick {
    min-width: 120px;
    padding-right: 20px;
}*/

.THIS .liTypePick {
    min-width: 110px;
    width: 110px;
    padding-right: 10px;
}