.THIS .customError {
    border: 2px solid red; 
    height: 1.475rem !important;
    line-height: 0 !important;
    min-height: 0 !important;
}

.THIS {
	background-color: #fff;
}

.THIS .input.uiInput.uiInput_default.uiInput_input{
    width:100px; 
    text-align: right;
    
}

.THIS .containerDiv {
  border: 1px solid #3697f6;
  width: 100%; 	
  max-height: 250px;
       
   
}

.THIS .rowDivHeader {
      border: 1px solid #668db6;
      background-color: #f0f8fc;
      color: black;
      font-weight: bold; display:table-row
         
}

.THIS .rowDiv {
      border: 10px solid #668db6;
      background-color: white;
      display:table-row; 
    }

.THIS .cellDivHeader {
  border-right: 1px solid white;
  display: table-cell;
  width:12%;
  padding: 1px;
  text-align: center;
  box-sizing : border-box;
    
}

.THIS .cellDiv {
  border-right: 2px solid white;
  display: table-cell;
  width:10%;
  padding-left: 0px; 
  text-align: center;
  border-bottom: none;
  box-sizing : border-box;
    
}

.THIS .lastCell {
  border-right: none;
    
}
.THIS .inputHeight{
    height: 1.475rem !important;
    line-height: 0 !important;
    min-height: 0 !important;
}
.THIS .cPreductSelectionTable .input.uiInput.uiInput_default.uiInput_input{
    text-align: right;
}

.THIS .zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 8px Arial, sans-serif;
    
}
.THIS .customThStyle {
    background-color: #ecebea;
    border:  1px #DDEEEE;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.THIS .zui-table tbody td {
    border: solid 1px #DDEEEE; 
    color: #333;
    text-shadow: 1px 1px 1px #fff;
}

.THIS .input.uiInput.uiInput_default.uiInput_input{
    width:70px; 
    text-align: right;
    
}

.THIS .customStyle{
    background-color: transparent; border: 0px solid; 
    height: 1.475rem !important;
    line-height: 0 !important;
    min-height: 0 !important;
    
}

.THIS .zoomdiv {
    zoom: 85%;
    font-size: small;
}