.THIS {
    
}
.THIS div.container {
    margin: 0px 20px 0px 25px;
}
.THIS div.show{
    display:block;
}
.THIS div.hide{
    display:none;
}
.THIS div.mycontainer{
    position: absolute;
   width: 100%;
    left: 0;
    top: 10;
    z-index: 100000;
    text-align: center; 
}