<header>
    <div class="container">
        <div class="header">
            <a di-link='icon' href="index.html"><img src="img/logo_DI.png"/></a>
        </div>
        </div>
        <nav class="navbar navbar-inverse" role="navigation" id="menu">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Leapfrog</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="layout-specification.html#intro">XD Spec</a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Components
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="components-css.html#intro">CSS Version</a></li>
                            <!--<li><a href="components-ng.html">NG Version</a></li>-->
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Mockups
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a target='1CL_' href="../mockups/1-column-layout.html">1 Column Layout</a></li>
                            <li><a target='2CL_' href="../mockups/2-column-layout.html">2 Column Layout</a></li>
                            <li><a target='MCP_' href="../mockups/make-and-collect-payment.html">Make and Collect a Payment</a></li>
                            <li><a target='MCC_' href="../mockups/cancelCard.html">Cancel Card</a></li>
                            <li><a target='MAD_' href="../mockups/accountDetails.html">Account Details</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Bootstrap References
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a target='BSCSS' href="bootstrap/CSS-Bootstrap.html">CSS</a></li>
                            <li><a target='BSCOM' href="bootstrap/Components-Bootstrap.html">Components</a></li>
                            <li><a target='BSJS' href="bootstrap/JavaScript-Bootstrap.html">JavaScript</a></li>
                        </ul>
                    </li>
                    <li><a href="releaseNotes.html">Release Notes</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://di.facetstudios.com/guide/#web?httpd_username='leapfrog'&httpd_password='FNHtmXHPf9Qz'"
                           target="guideLines"><!-- onclick="authenticateGuides(); return false;"-->
                            <span aria-hidden="true" class="glyphicon glyphicon-new-window"></span>
                            Facet Studios Guide Lines</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>