.THIS .site-color-example {
  transition: 0.2s background-color linear; 
  transform: rotate(90deg);
}
.THIS .site-color-example-back {
  transition: 0.2s background-color linear; 
  transform: rotate(0deg);
}

.THIS .zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.THIS .zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 1px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.THIS .zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 1px;
    text-shadow: 1px 1px 1px #fff;
    
}

.THIS .Input_Custom{
    background-color: transparent; border: 0px solid; 
}
.THIS .inputHeight{
    height: 1.475rem !important;
    line-height: 0 !important;
    min-height: 0 !important;
}


.THIS .Input_Custom .inputHeight .cTableRow{
    height: 1.475rem !important;
    line-height: 0 !important;
    min-height: 0 !important;
    background-color: transparent; border: 0px solid; 
}

.THIS .FillErrorColor{
    background-color: rgba(194, 57, 52, 0.34);
}


.THIS .tooltip{
   			display: inline;
    		position: relative;
		}
		
.THIS .tooltip:hover:after{
    		background: #333;
    		background: rgba(0,0,0,.8);
    		border-radius: 5px;
    		bottom: 26px;
    		color: #fff;
    		content: attr(title);
    		left: 20%;
    		padding: 5px 15px;
    		position: absolute;
    		z-index: 98;
    		width: 180px;
		}
		
.THIS .tooltip:hover:before{
    		border: solid;
    		border-color: #333 transparent;
    		border-width: 6px 6px 0 6px;
    		bottom: 20px;
    		content: "";
    		left: 50%;
    		position: absolute;
    		z-index: 99;
		}