:host .slds-textarea {
    height: 225px;
  }
  
  :host .section {
    background: #fff;
    border: 1px solid #eee;
    margin: 1rem;
  }
  
  :host .doc-Button {
    background: #eee;
    border: 1px solid #ddd;
  }
  
  :host .section-heading {
    background: #eee;
    padding: 0.75rem 1rem;
  }
  
  :host .section-body {
    padding: 1rem;
  }
  
  :host .text-notice {
    background: #fdf7c3;
    padding: 0.5rem 1rem;
    border: 1px solid #e4d979;
    margin: 0.75rem 1.5rem;
  }
  
  :host .slds-form-element {
    margin-bottom: 0.75rem;
  }
  
  :host .dropdownHeader {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    border: 1px solid rgb(244, 244, 244);
  }
  
  :host .slds-spinner_container {
    z-index: 10000;
    position: fixed;
  }
  :host .footspace {
    width: 100%;
    height: 5px;
  }
  
  .tabHeader {
    padding: 8px 0px 0px 5px;
  }
  
  .tabs__item {
    padding: 0px 0px 0px 10px !important;
  }