.THIS .col1-subcol-width{
    width:110px ;
    
}
.THIS .col1_LP{
    padding-left:3px;
}

.THIS .col2-subcol-width {
    width:110px !important;
}
.THIS .col-RP {
    padding-right:3px;
}

.THIS .col-space {
    margin:3px ;
   
}

.THIS .grey-back {
    background-color: rgb(217, 219, 221);
    
}

.THIS .col1_width {
    /* width:22% ; */
}
.THIS .col2_subcol2_width {
    /* width:952.406px;*/  	
    width:826.406px;
}
.THIS .border-white {
    border : 3px solid yellow ;
}
.THIS .col3_width {
    width:205.953px ;
}

.THIS .slds-size_3-of-12 {
    width:234.5px ;
}



.THIS .col2-right-margin {
    margin-right: 20px;
   
}
.THIS .col2-right-margin-noBorder {
    margin-right: 25px;
   
}
.THIS .col2-left-margin {
    margin-left: 20px;
   
}

.THIS .vline {
    border-right: 5px solid black;
   
}

.THIS .main-col2-width {
    width:749.938px ;
}

.THIS .col3_subcol_dimen {
	color:white ;
    width:135px !important; 
    height:60px;
    margin:1rem 2rem ;
}

.THIS .test-over {
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
}