.THIS .slds-card__body.slds-text-align_left {
    margin-left:21px;
    margin-right:21px;
}

.THIS.initLoad {
    display:none;
    width:80%;
}
.THIS.aftLoad {
    display:block;
    width:80%;
}
.THIS .CloseIcon {
    background:#FFB75D;
    
}
.THIS .slds-notify{
    background:#FFB75D;
    width:99%;
  	
    
}