:host .slds-border_bottom {
  border-bottom: 2px solid rgb(127, 127, 127);
}

:host .slds-border_left {
  border-left: 2px solid rgb(127, 127, 127);
}

:host .prm-green {
  color: #54b948;
  font-size: 11px;
  font-weight: 600;
}

:host .prm-blue {
  color: #0975c2;
  font-size: 11px;
  font-weight: 600;
}

:host .prm-gry {
  color: #646c64;
  font-size: 11px;
  font-weight: 600;
}

:host .inner-box {
  position: relative;
  width: 100%;
  margin: 0px auto;
}

:host .inner-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

:host .round {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #204a7e;
  background-color: #e5e5e5;
  padding: 10px;
}

:host .slds-text-body_small {
  font-size: small;
}

:host .prm-center {
  margin: auto;
}

@media (orientation: portrait) {
  .prmtext {
    text-align: center !important;
  }

  .inner-box {
    width: 80%;
  }

  .round {
    padding: 10px;
  }

  .prm-center {
    margin-top: 10px;
  }

  .prm-padding {
    padding: 10px;
  }
}