.THIS .slds-textarea{
    height: 225px;
}
.THIS .section {
    background: #fff;
    border: 1px solid #eee;
    margin: 1rem;
}

.THIS .doc-Button { 
    background: #eee;
    border: 1px solid #ddd;
}

.THIS .section-heading {
    background: #eee;
    padding:0.75rem 1rem;
}

.THIS .section-body {
    padding: 1rem;
}

.THIS .text-notice {
    background: #fdf7c3;
    padding: 0.5rem 1rem;
    border: 1px solid #e4d979;
    margin: .75rem 1.5rem;
}

.THIS .slds-form-element {
    margin-bottom: 0.75rem;
}


.THIS .slds-margin{
    margin-bottom: 10px;
}

.THIS .slds-button-margin{
      margin-top: 10px;
}