.THIS .slds-icon{
   
        margin-top: 8px;
        fill: #0070d2;
      }

.THIS .slds-icon_x-small
{
      
    margin-top: auto;
       fill: white;


}
.THIS .slds-dropdown__list{
    width:250px;
   
}
.THIS .slds-button-group{
background-color: #005fb2;
    width:120px;
   
}
.THIS .slds-custombutton{
    border-radius: 0.4rem;    margin: 0px; background-color: #f0f8fc;
}

.THIS .slds-dropdown__list{
  color: black;
 height: 250px;


}

.THIS .slds-form_inline {
 color: blue;  
    display: inline-block;
    
}
.THIS .slds-modal__header {
    background-color:1px solid #d8dde6;

}
.THIS .slds-search {
    display: inline-block;

}

.THIS .slds-button  {
     background-color:1px solid #ffffff; 
}
.THIS .slds-pill {
    background-color: #0070d2;
    display: inline-block;
    padding: .25rem;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    vertical-align: middle;
    line-height: 1.5;
}
.THIS .slds-pill__label {
    max-width: 13.5rem;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}
/*.THIS .slds-icon--x-small {
    color: black;
}*/

.THIS .slds-pill:hover{
    background-color:#0070d2;
}
.THIS .uiButton.bgcolor {
background-color:aliceblue;
}
.THIS .SearchInput{
    width:280px;
}
.THIS .styleInline{
    margin-left:10px;
    display:inline-block !important;
}

.THIS.toggle {
    display: block;
}