:host .prm-green {
    color: #54B948;
    font-weight: 600;
}

:host .slds-border_bottom {
    border-bottom: 2px solid rgb(127, 127, 127);
}

:host .slds-border_left {
    border-left: 2px solid rgb(127, 127, 127);
}

:host .color {
    color: black;
}


:host .slds-illustration__stroke-secondary {
    stroke: rgb(86, 196, 76);
}

:host .slds-illustration__fill-secondary {
    fill: #50B948;
}

:host .slds-illustration__stroke-primary {
    stroke: rgb(102, 196, 94);
}

:host .slds-illustration__fill-primary {
    fill: #50B968;
}