.container {
  overflow: hidden;
  color: #f5b041;
}

.bar {
  margin-left: 4px;
  height: 36px;
  background-color: #f5b041;
}

:host .canvasWidth {
  width: 420px;
}

:host .slds-border_bottom {
  border-bottom: 2px solid rgb(127, 127, 127);
}

:host .slds-border_left {
  border-left: 2px solid rgb(127, 127, 127);
}
:host .color{
  color:black;
}