.THIS .filterCriteriaBox .hasBeenEdited  {
    background-color: rgb(250, 255, 189);
     

}

.THIS .filterCriteriaBox .wrapper:hover  {
    background-color: rgb(243, 242, 242);
}


.THIS .textwrap {
	word-break: break-word;
}

.THIS .filterPanel {
    overflow: visible;
}