.THIS .sldscustom{
       min-width: 1000px;
  }

.THIS .mymodal{
    width: 70%;
    max-width: 840px;
    min-width: 480px;
}

.THIS .custom-button{
    width: 40%!important;
    height : 40px!important;
}