.THIS .yellowbgrnd {
    background-color:yellow;
}

.THIS .lhrow {
	font-size: 0.95rem;
    line-height: 1.25;
	padding-bottom: 0px;    
}

.THIS .lhrowHeader {
	font-weight: 700; 
}

.THIS .notopmargin {
	margin-top:0px;
}

.THIS .dnsclass {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.THIS .dnsclass .slds-checkbox_faux {  
	border: 1px solid #706e6b !important;
}

.THIS .dnsclass .dnshelp {
    padding-top:0px;
    margin-top:0px;
}

.THIS .dnsclass .dnstitle {
  line-height:1.0rem;
  display: block;
}

.THIS.lhmodal {
	overflow-y: scroll !important;  
}

.THIS .cirlceul {
	list-style-type: circle   
}

.THIS .sectoppadding {
	padding-top : 10px;    
}

.THIS .lhlist {
    position: relative;
    left: 20px;
    padding-right:20px;
}

.THIS ul ul {
    padding-left: 20px;
}

.THIS ul.hypenul {
    list-style-type: square;
}

.THIS .childli {
	list-style-type: none;    
}