<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class='di-container' id='badgeIcon'>
                <div class="page-header"><h1>Menu Badge Icon</h1></div>
                <div class="row">
                    <div class="col-xs-12 menu-bg" >
                        <button type="button" class="navbar-badge-btn">
                            <span class="badge navbar-menu-badge">4</span>
                            <span class="glyphicon glyphicon-bell navbar-glyphicon" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="navbar-badge-btn">
                            <span class="badge navbar-menu-badge">1</span>
                            <span class="glyphicon glyphicon-comment navbar-glyphicon" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="navbar-badge-btn">
                            <span class="badge navbar-menu-badge">3</span>
                            <span class="glyphicon glyphicon-envelope navbar-glyphicon" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-xs-12">
                        Usage:
<pre><code>&lt;button type=&quot;button&quot; class=&quot;navbar-badge-btn&quot;&gt;
    &lt;span class=&quot;badge navbar-menu-badge&quot;&gt;3&lt;/span&gt;
    &lt;span class=&quot;glyphicon glyphicon-envelope navbar-glyphicon&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
    &lt;/button&gt;</code></pre>
                    </div>

                    <div class="col-xs-12">&nbsp;</div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>