
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class='di-container' id='radioCheckbox'>
                <div class="page-header"><h1>CheckBox \ Radio Buttons</h1></div>
                <div class="row">
                    <div class="col-sm-3">
                        <label><input type="radio" name='radio1' checked/><span class="lbl"> Radio 1 Label</span></label>
                    </div>
                    <div class="col-sm-3">
                        <label><input type="radio" name='radio1' /><span class="lbl"> Radio 2 Label</span></label>
                    </div>
                    <div class="col-sm-3">
                        <label><input type="radio" name='radio2' checked disabled/><span class="lbl"> Disabled Radio</span></label>
                    </div>
                    <div class="col-sm-3">
                        <label><input type="radio" name='radio2' disabled/><span class="lbl"> Disabled Radio </span></label>
                    </div>
                    <div class="col-sm-12">
                        Example:
<pre><code>&lt;label&gt;
    &lt;input type=&quot;radio&quot; name='radioFoo' /&gt;
    &lt;span class=&quot;lbl&quot;&gt; Radio Foo Label&lt;/span&gt;
    &lt;/label&gt;</code></pre>
                    </div>
                    <div class="col-sm-12">&nbsp;</div>
                    <div class="col-sm-3">
                        <label><input type="checkbox" name='checkbox1' checked/><span class="lbl"> Check Box 1 Label</span></label>
                    </div>
                    <div class="col-sm-3">
                        <label><input type="checkbox" name='checkbox1' /><span class="lbl"> Check Box 2 Label</span></label>
                    </div>
                    <div class="col-sm-3">
                        <label><input type="checkbox" name='checkbox1' disabled/><span class="lbl"> Disabled Check Box</span></label>
                    </div>
                    <div class="col-sm-3">
                        <label><input type="checkbox" name='checkbox1' checked disabled/><span class="lbl"> Disabled Check Box </span></label>
                    </div>
                    <div class="col-sm-12">
                        Usage: <pre><code>&lt;label&gt;
                        &lt;input type=&quot;checkbox&quot; name='checkboxFoo' /&gt;
                        &lt;span class=&quot;lbl&quot;&gt; Check Box Foo Label&lt;/span&gt;
                        &lt;/label&gt;</code></pre>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
