<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class='di-container' id='rowTag'>
                <div class="page-header"><h1>Row level Comments (Tag \ Highlight \ flag)</h1></div>
                <div class="row">
                    <div class="col-xs-6 ">
                        <div class='bg-gray min-h30'><div class='tag-row-gold'></div><div style='display:inline-block;'>Content</div></div>
                    </div>
                    <div class="col-xs-6">
                        <div class='bg-gray min-h30'>&nbsp;<div style='display:inline-block;'>Content</div><div class='tag-row-gold-right' style='float:right'></div></div>
                    </div>
                    <div class="col-xs-12"></div>
                    <div class="col-xs-6 ">
                        <div class='bg-gray min-h30'><div class='tag-row-green'></div><div style='display:inline-block;'>Content</div></div>
                    </div>
                    <div class="col-xs-6">
                        <div class='bg-gray min-h30'>&nbsp;<div style='display:inline-block;'>Content</div><div class='tag-row-green-right' style='float:right'></div></div>
                    </div>
                    <div class="col-xs-12"></div>
                    <div class="col-xs-6 ">
                        <div class='bg-gray min-h30'><div class='tag-row-red'></div><div style='display:inline-block;'>Content</div></div>
                    </div>
                    <div class="col-xs-6">
                        <div class='bg-gray min-h30'>&nbsp;<div style='display:inline-block;'>Content</div><div class='tag-row-red-right' style='float:right'></div></div>
                    </div>
                    <div class="col-xs-12"></div>

                    <div class="col-xs-6 ">
                        <div class='bg-gray min-h30'><div class='tag-row-blue'></div><div style='display:inline-block;'>Content</div></div>
                    </div>
                    <div class="col-xs-6">
                        <div class='bg-gray min-h30'>&nbsp;<div style='display:inline-block;'>Content</div><div class='tag-row-blue-right' style='float:right'></div></div>
                    </div>
                    <div class="col-xs-12">
                        Usage :<pre><code>&lt;div class=&quot;tag-row-{gold | blue | red | green }{-right}&quot; /&gt;&lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>