
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class='di-container' id='toggleSwitch'>
                <div class="page-header"><h1>Toggel Switch On \ Off</h1></div>
                <div class="row">
                    <div class="col-xs-6 ">
                        Large Switch Active\ No State :<div class="di-switch"></div>
                    </div>
                    <div class="col-xs-6">
                        Large Switch off State :<div class="di-switch" off="true"></div>
                    </div>
                    <div class="col-xs-6 ">
                        Large Switch Active\ No State and disabled:<div class="di-switch" disabled="true"></div>
                    </div>
                    <div class="col-xs-6">
                        Large Switch off State and disabled:<div class="di-switch" off="true" disabled="true"></div>
                    </div>
                    <div class="col-xs-6 ">
                        Small Switch Active\ No State :<div class="di-switch" sm="true"></div>
                    </div>
                    <div class="col-xs-6">
                        Small Switch off State :<div class="di-switch" sm="true" off="true"></div>
                    </div>
                    <div class="col-xs-6 ">
                        Small Switch Active\ No State and disabled:<div class="di-switch" sm="true" disabled="true"></div>
                    </div>
                    <div class="col-xs-6">
                        Small Switch off State and disabled:<div class="di-switch" sm="true" off="true" disabled="true"></div>
                    </div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">
                        Usage :<pre>
- <b>sm</b>: optional, if want to have small version
- <b>active</b>: optional, if want to have switch On state.
- <b>disabled</b>: optional, if disabled the control is required.
    <code>&lt;div class='di-switch sm='{true | false}' off='{true | false} disabled='{true | false}&gt;&lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>