<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class='di-container' id='dropdown'>
                <div class="page-header"><h1>Tool Tip \ Pop-over <small>(on click)</small></h1></div>
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <h2><span class="di-tooltip" position="top" icon="question-sign" content='{{testHtml}}'></span></h2>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h2><span class="di-tooltip" position="bottom" icon="map-marker" content='{{testHtml2}}'></span></h2>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h2><span class="di-tooltip" position="right" icon="credit-card" content='{{testHtml}}'></span></h2>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h2><span class="di-tooltip" position="left" icon="asterisk" content='{{testHtml2}}'></span></h2>
                    </div>
                    <div class="col-xs-12 ">&nbsp;</div>
                    <div class="col-xs-12">
                        Usage :<pre>
- <b>icon</b>: optional, Font icon name excluding Bootstrap 'glyphicon-' prefix.
- <b>position</b>: default top, where to display tooltip.
- <b>content</b>: body message for tooltip.
<code>&lt;span class=&quot;di-tooltip&quot; inverse=&quot;{true | false}&quot; icon=&quot;&lt;icon-name&gt;&quot;
    position=&quot;left | right | bottom | top&quot; content=&quot;{text | HTML | NG scope reference}&quot;&gt;</code></pre>
                    </div>
                </div>
                <div class="page-header"><h1>Tool Tip \ Pop-over <small>(variation on gray background)</small></h1></div>
                <div class="row bg-gray">
                    <div class="col-sm-12 text-center">&nbsp;</div>
                    <div class="col-sm-6 text-center">
                        <h2><span class="di-tooltip" inverse='true' position="top" icon="question-sign" content='{{testHtml}}'></span></h2>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h2><span class="di-tooltip" inverse='true' position="bottom" icon="map-marker" content='{{testHtml2}}'></span></h2>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h2><span class="di-tooltip" inverse='true' position="right" icon="credit-card" content='{{testHtml}}'></span></h2>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h2><span class="di-tooltip" inverse='true' position="left" icon="asterisk" content='{{testHtml2}}'></span></h2>
                    </div>
                    <div class="col-xs-12 ">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 ">&nbsp;</div>
                    <div class="col-xs-12">
                        Usage :<pre>
- <b>icon</b>: optional, Font icon name excluding Bootstrap 'glyphicon-' prefix.
- <b>inverse</b>: optional, enable variation on tooltip over gray.
- <b>position</b>: default top, where to display tooltip.
- <b>content</b>: body message for tooltip.
<code>&lt;span class=&quot;di-tooltip&quot; inverse=&quot;{true | false}&quot; icon=&quot;&lt;icon-name&gt;&quot;
                        position=&quot;left | right | bottom | top&quot; content=&quot;{text | HTML | NG scope reference}&quot;&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
