.THIS table {
    border-collapse: collapse;
    border-spacing: 0;
    
    border: 1px solid #ddd;
}

.THIS th, .THIS td {
    text-align: left;
    padding: 8px;
}

.THIS tr:nth-child(even){background-color: #f2f2f2}