.THIS .TableHeaderColor{
    background-color:rgb(0, 57, 107);
	color:rgb(255,255,255);
}
.THIS .TableBodyColor{
   
}
.THIS .slds-box1{
    padding: 1rem;
    border-radius: 0.25rem;
    border: 2px solid #ffffff;
    height: 56px;
}
.THIS .ThemeInfo{
    background-color: #ABB2B9;
}