.THIS .overflow_ellipsis{
    white-space: nowrap; 
    width: 110px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
}

.THIS .popOver_Default_Display {
    display:none ;
}
.THIS .slds-popover {
    width:10rem ;
    height: auto;
    min-height:2rem ;
}