.THIS {
}
.THIS .inactive{
    opacity: 0.7;
    filter: alpha(opacity=50);
    
}
.THIS .active{
    opacity: 1;
    filter: alpha(opacity=100);
    color:Green;
    font-weight: bolder;
}
.THIS .head{    
    color:Green;
    font-weight: bolder;
}