.THIS {
}
.THIS .footer{
    /* position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    */
}
.THIS #shade1 {
    background-color:#47a012;
    background-image:linear-gradient(to right, #47a012 , #98FB98);   
}