.THIS .slds-modal__container{
       max-width: 70rem !important;
       width:70% !important;

}

.THIS .mymodal{
    width: 70%;
    max-width: 840px;
    min-width: 480px;
}

.THIS .customWidth{
    padding-left: 40px;
    padding-right: 30px;
}
.THIS .check{
    fill:Green;
    background-color:#259257;
}
.THIS .close{
    fill:red ;
    background-color:#e40606;
}

.THIS.slds-spinner_container {
    top: 82px !important;
    bottom: 55.66px !important;
}

.THIS.div[id$="group-label"]{
    display : none ;
}
.THIS.div[id$="-group-label"]{
    display : none ;
}
.THIS .forceInputMultiPicklist #input-4-group-label , .THIS .forceInputMultiPicklist #input-3-group-label ,
 .THIS .forceInputMultiPicklist #input-5-group-label{
    display : none ;
}