.THIS .overAllStatusRow{
    font-weight:700;
    background-color:#ddb929
}
.THIS .Approved{
	background-color:#a1f78d
}
	
.THIS .Rejected{
    background-color:#fb8a8c
}

.THIS .Removed{
    background-color: #c0bebc
}

.THIS .Pending{
    background-color:#ffd74b
}

.THIS .bgColour { 
    background-color: #DDB929; 
    color: #FFFFFF !important; 
}

.THIS .slds-textarea{
    height: 225px;
}
.THIS td {
    white-space: normal;
    
}

.THIS .step {
    white-space: nowrap;
    
}