.THIS .slds-accordion__section {
    padding-left:0px;
    padding-right:0px;   
}

.THIS .slds-accordion__section.slds-is-open {
    padding-bottom:0px;
}

.THIS tr.headerrow th {
    font-weight:bold;
}

.THIS .pmsselect {
    width: auto;
    min-width: 90px;
    height: 36px !Important;
}

.THIS .pmsinput {
	width: 125px; 
    padding-left:4px;
    padding-right:4px;
}

.THIS .accrdheader{
	padding-left:3px;    
}

.THIS.pmsadian .slds-button__icon {
    height:inherit;
}

.THIS .pmsinputError {
    border-color: rgb(194, 57, 52);
}


.THIS .slds-inline_icon_text {
    background-color: #f4f6f9;
    color: #706e6b;
    padding: 0.75rem 1rem;
    width:100%
}
.THIS .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    word-wrap: break-word;
}

.THIS .tooltip .tooltiptext {
    visibility: hidden;
   /* width: 20px; 
    *  height:450px;
    * text-align: center;
    * padding: 5px 0;
    */
   
    background-color: black;
    color: #fff;
    border-radius: 3px;
    padding: 3px 0;
    word-wrap: break-word;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -150%;
    left: 600%;
    margin-left: -60px;
}

.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
}