.THIS .slds-form .slds-input,
.THIS .slds-form-element__static {
  margin-bottom: 0.5 rem;
}

.THIS .text-notice {
  background: #fdf7c3;
  padding: 0.5rem 1rem;
  border: 1px solid #e4d979;
}

.THIS .section {
  background: #eee;
  border: 1px solid #ddd;
  margin: 1rem;
}

.THIS .section .section-heading {
  padding: 0.75rem 1rem;
  background: #ddd;
}

.THIS .section .section-body {
  padding: 1rem;
}

.THIS .hide {
  display: none;
}

.THIS .slds-textarea {
  height: 225px;
}

.THIS .slds-icon-text-default {
  fill: rgb(251, 253, 255);
}

.THIS .slds-notify_toast {
  padding: 1px;
  width: 97%;
  display: inline-flex;
  margin: 5px auto;
}

.THIS.error_Box {
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: inline-flex;
}
.THIS .warning-box {
  font-weight: bolder;
  background: rgb(255, 235, 0);
  color: black;
  margin: 0px;
  padding: 10px;
}