.THIS .arrowhide.select::-ms-expand{
    display: none; 
    margin-top: 20px;
}

.THIS .forceInputMultiPicklist div[id$="-group-label"]{
    display : none ;
}
.THIS .forceInputMultiPicklist div[id^="group-label"]{
    display : none ;
}