.THIS {
}
.THIS .errHdr {
  background-color: #fbf8f8;
  color: red;
}
.THIS .hdr {
  background-color: #fbf8f8;
}
  
.THIS.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}