<!-- Custom Font Icon START -->
<div class='di-container'>
    <div class="page-header"><h1>Leap Frog Custom Font Icon</h1></div>
    <div>
        Includes 21 Icon in font format from the Glyphicon Halflings set.
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12" >
            <div class="di-glyphicons">
                <ul class="di-glyphicons-list">
                    <li><span class="di-icon-back" aria-hidden="true"></span><span class="glyphicon-class">di-icon-back</span></li>
                    <li><span class="di-icon-calendar" aria-hidden="true"></span><span class="glyphicon-class">di-icon-calendar</span></li>
                    <li><span class="di-icon-call" aria-hidden="true"></span><span class="glyphicon-class">di-icon-call</span></li>
                    <li><span class="di-icon-checkmark" aria-hidden="true"></span><span class="glyphicon-class">di-icon-checkmark</span></li>
                    <li><span class="di-icon-close-hide" aria-hidden="true"></span><span class="glyphicon-class">di-icon-close-hide</span></li>
                    <li><span class="di-icon-computer" aria-hidden="true"></span><span class="glyphicon-class">di-icon-computer</span></li>
                    <li><span class="di-icon-delete" aria-hidden="true"></span><span class="glyphicon-class">di-icon-delete</span></li>
                    <li><span class="di-icon-drop-down" aria-hidden="true"></span><span class="glyphicon-class">di-icon-drop-down</span></li>
                    <li><span class="di-icon-email" aria-hidden="true"></span><span class="glyphicon-class">di-icon-email</span></li>
                    <li><span class="di-icon-forward" aria-hidden="true"></span><span class="glyphicon-class">di-icon-forward</span></li>
                    <li><span class="di-icon-help-outline" aria-hidden="true"></span><span class="glyphicon-class">di-icon-help-outline</span></li>
                    <li><span class="di-icon-help" aria-hidden="true"></span><span class="glyphicon-class">di-icon-help</span></li>
                    <li><span class="di-icon-info" aria-hidden="true"></span><span class="glyphicon-class">di-icon-info</span></li>
                    <li><span class="di-icon-open-show" aria-hidden="true"></span><span class="glyphicon-class">di-icon-open-show</span></li>
                    <li><span class="di-icon-refresh" aria-hidden="true"></span><span class="glyphicon-class">di-icon-refresh</span></li>
                    <li><span class="di-icon-search" aria-hidden="true"></span><span class="glyphicon-class">di-icon-search</span></li>
                    <li><span class="di-icon-security" aria-hidden="true"></span><span class="glyphicon-class">di-icon-security</span></li>
                    <li><span class="di-icon-add" aria-hidden="true"></span><span class="glyphicon-class">di-icon-add</span></li>
                    <li><span class="di-icon-sort" aria-hidden="true"></span><span class="glyphicon-class">di-icon-sort</span></li>
                    <li><span class="di-icon-text-mobile-alerts" aria-hidden="true"></span><span class="glyphicon-class">di-icon-text-mobile-alerts</span></li>
                    <li><span class="di-icon-transfer-money" aria-hidden="true"></span><span class="glyphicon-class">di-icon-transfer-money</span></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel-group" id="accordionAlert" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingAlert">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionAlert" href="#collapseAlert" aria-expanded="false" aria-controls="collapseAlert">
                                <span class="caret"></span> Usage: (for detail refer to <a href="http://getbootstrap.com/components/#glyphicons" target="_bootstrapGlyphicons">Bootstrap Glyphicons</a> section. )
                            </a>
                        </h4>
                    </div>
                    <div id="collapseAlert" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAlert">
                        <div class="panel-body">
            <pre><code>&lt;span class=&quot;di-icon-search&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">&nbsp;</div>
    </div>
    <br>
</div>
<!-- Custom Font Icon END -->