<!-- Custom Font Icon START -->
<div class='di-container'>
    <div class="page-header"><h1>Image Icon</h1></div>
    <div>
        Includes couple Icon in image format.
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12" >
            <div class="di-glyphicons">
                <ul class="di-image-list">
                    <li><span class="glyphicon-class">loader.gif</span><img src="../img/loader.gif"/></li>
                    <li><span class="glyphicon-class">loader-page.gif</span><img src="../img/loader-page.gif"/></li>
                    <li><span class="glyphicon-class">loader-small.gif</span><img src="../img/loader-small.gif"/></li>
                    <li><span class="glyphicon-class">logo-di-footer.png</span><img src="../img/logo-di-footer.png"/></li>
                    <li><span class="glyphicon-class">logo-FDIC-footer.png</span><img src="../img/logo-FDIC-footer.png"/></li>
                    <li><span class="glyphicon-class">logo-di.png</span><img src="../img/logo-di.png"/></li>

                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel-group" id="accordionImage" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingImage">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionImage" href="#collapseImage" aria-expanded="false" aria-controls="collapseImage">
                                <span class="caret"></span> Usage:
                            </a>
                        </h4>
                    </div>
                    <div id="collapseImage" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingImage">
                        <div class="panel-body">
                            <pre><code>&lt;img src=&quot;img/{image-name}&quot; /&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">Footer Example:</div>
        <div class="col-xs-12 bg-gray" style=" height: 55px;padding: 14px;">
            <div class="col-xs-6"><img src="../img/logo-FDIC-footer.png"/></div>
            <div class="col-xs-6 text-right"><img src="../img/logo-di-footer.png"/></div>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">Page Loading Example:</div>
        <div class="col-xs-12  text-center" >
            <div class="col-xs-6 col-xs-offset-3 bg-gray" style=" height: 255px;padding-top: 15%;"><img src="../img/loader-page.gif" style="width: 35px;height: 35px;"/> Loading</div>

        </div>
    </div>
    <br>
</div>
<!-- Custom Font Icon END -->