<!-- FORM-INPUT START-->
<div class='di-container'>
    <div class="page-header"><h1>Text Area \ Input Box</h1></div>
    <div class="row">
        <div class="col-sm-4">
            <label>test <input type="text" name='text1' value='test'/></label>
        </div>

        <div class="col-sm-12">
            <div class="panel-group" id="accordionType" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingType">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionType" href="#collapseType" aria-expanded="false" aria-controls="collapseType">
                                <span class="caret"></span> Usage:
                            </a>
                        </h4>
                    </div>
                    <div id="collapseType" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingType">
                        <div class="panel-body">
<pre><code>
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">&nbsp;</div>
    </div>
    <br>
</div>
<!-- FORM-INPUT END-->