<!-- CHECK BOX & RADIO START -->

<div class='di-container'>
    <div class="page-header"><h1>CheckBox \ Radio Buttons</h1></div>
    <div class="row">
        <div class="col-sm-3">
            <label><input type="radio" name='radio1' checked/><span class="lbl"> Radio 1 Label</span></label>
        </div>
        <div class="col-sm-3">
            <label><input type="radio" name='radio1' /><span class="lbl"> Radio 2 Label</span></label>
        </div>
        <div class="col-sm-3">
            <label><input type="radio" name='radio2' checked disabled/><span class="lbl"> Disabled Radio</span></label>
        </div>
        <div class="col-sm-3">
            <label><input type="radio" name='radio2' disabled/><span class="lbl"> Disabled Radio </span></label>
        </div>
        <div class="col-sm-12">
            <div class="panel-group" id="accordionCheckBox" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingCheckBox">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionCheckBox" href="#collapseCheckBox" aria-expanded="false" aria-controls="collapseCheckBox">
                                <span class="caret"></span> Usage:
                            </a>
                        </h4>
                    </div>
                    <div id="collapseCheckBox" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRadio">
                        <div class="panel-body">
<pre><code>&lt;label&gt;
    &lt;input type=&quot;radio&quot; name='radioFoo' /&gt;
    &lt;span class=&quot;lbl&quot;&gt; Radio Foo Label&lt;/span&gt;
&lt;/label&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-3">
            <label><input type="checkbox" name='checkbox1' checked/><span class="lbl"> Check Box 1 Label</span></label>
        </div>
        <div class="col-sm-3">
            <label><input type="checkbox" name='checkbox1' /><span class="lbl"> Check Box 2 Label</span></label>
        </div>
        <div class="col-sm-3">
            <label><input type="checkbox" name='checkbox1' disabled/><span class="lbl"> Disabled Check Box</span></label>
        </div>
        <div class="col-sm-3">
            <label><input type="checkbox" name='checkbox1' checked disabled/><span class="lbl"> Disabled Check Box </span></label>
        </div>
        <div class="col-sm-12">
            <div class="panel-group" id="accordionRadio" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingRadio">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionRadio" href="#collapseRadio" aria-expanded="false" aria-controls="collapseRadio">
                                <span class="caret"></span> Usage:
                            </a>
                        </h4>
                    </div>
                    <div id="collapseRadio" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRadio">
                        <div class="panel-body">
           <pre><code>&lt;label&gt;
            &lt;input type=&quot;checkbox&quot; name='checkboxFoo' /&gt;
            &lt;span class=&quot;lbl&quot;&gt; Check Box Foo Label&lt;/span&gt;
            &lt;/label&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<!-- CHECK BOX & RADIO END -->