<!-- Row Tag START -->

<div class='di-container'>
    <div class="page-header"><h1>Row level Comments (Tag \ Highlight \ flag)</h1></div>
    <div class="row">
        <div class="col-xs-6 ">
            <div class='bg-gray min-h30'><div class='tag-row-gold'></div><div style='display:inline-block;'>Content</div></div>
        </div>
        <div class="col-xs-6">
            <div class='bg-gray min-h30'>&nbsp;<div style='display:inline-block;'>Content</div><div class='tag-row-gold-right' style='float:right'></div></div>
        </div>
        <div class="col-xs-12"></div>
        <div class="col-xs-6 ">
            <div class='bg-gray min-h30'><div class='tag-row-green'></div><div style='display:inline-block;'>Content</div></div>
        </div>
        <div class="col-xs-6">
            <div class='bg-gray min-h30'>&nbsp;<div style='display:inline-block;'>Content</div><div class='tag-row-green-right' style='float:right'></div></div>
        </div>
        <div class="col-xs-12"></div>
        <div class="col-xs-6 ">
            <div class='bg-gray min-h30'><div class='tag-row-red'></div><div style='display:inline-block;'>Content</div></div>
        </div>
        <div class="col-xs-6">
            <div class='bg-gray min-h30'>&nbsp;<div style='display:inline-block;'>Content</div><div class='tag-row-red-right' style='float:right'></div></div>
        </div>
        <div class="col-xs-12"></div>

        <div class="col-xs-6 ">
            <div class='bg-gray min-h30'><div class='tag-row-blue'></div><div style='display:inline-block;'>Content</div></div>
        </div>
        <div class="col-xs-6">
            <div class='bg-gray min-h30'>&nbsp;<div style='display:inline-block;'>Content</div><div class='tag-row-blue-right' style='float:right'></div></div>
        </div>
        <div class="col-xs-12">
            <div class="panel-group" id="accordionRowTag" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingRowTag">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionRowTag" href="#collapseRowTag" aria-expanded="false" aria-controls="collapseRowTag">
                                <span class="caret"></span> Usage:
                            </a>
                        </h4>
                    </div>
                    <div id="collapseRowTag" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRowTag">
                        <div class="panel-body">
                            <pre><code>&lt;div class=&quot;tag-row-{gold | blue | red | green }{-right}&quot; /&gt;&lt;/div&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Row Tag END -->