<!-- POP OVER START -->
<div class='di-container'>
    <div class="page-header"><h1>Tool Tip \ Pop-over <small>(on click)</small></h1></div>
    <div class="row">
        <div class="col-sm-6 text-center">
            <h2>
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover" data-placement="top"
                      data-content="<div class='di-test'><ul><li>Lorem ipsum dolor sit ame</li><li>Lorem ipsum dolor sit ame</li><li>Lorem ipsum dolor sit ame</li><li>Lorem ipsum dolor sit ame</li></ul></div>"></span>
            </h2>
        </div>
        <div class="col-sm-6 text-center">
            <h2><span class="glyphicon glyphicon-map-marker" aria-hidden="true" data-toggle="popover" data-placement="bottom"
                      data-content="<div class='di-test'><h3>Why didI get this page?</h3><span>Common reasons include:</span><ul><li>You recently cleared your cookies <a href='#'>Learn more</a></li><li>You are browsing in private ir incognito mode</li><li>You are using a different browser from the one you set last time</li><li>You knowingly or unknowningly asked to skip this extra security step</li></ul></div>">
						</span>
            </h2>
        </div>
        <div class="col-sm-6 text-center">
            <h2><span class="glyphicon glyphicon-credit-card " aria-hidden="true" data-toggle="popover" data-placement="right"
                      data-content="<div class='di-test'><ul><li>Lorem ipsum dolor sit ame</li><li>Lorem ipsum dolor sit ame</li><li>Lorem ipsum dolor sit ame</li><li>Lorem ipsum dolor sit ame</li></ul></div>"></span>
            </h2>
        </div>
        <div class="col-sm-6 text-center">
            <h2><span class="glyphicon glyphicon-asterisk" aria-hidden="true" data-toggle="popover" data-placement="left"
                      data-content="<div class='di-test'><h3>Why didI get this page?</h3><span>Common reasons include:</span><ul><li>You recently cleared your cookies <a href='#'>Learn more</a></li><li>You are browsing in private ir incognito mode</li><li>You are using a different browser from the one you set last time</li><li>You knowingly or unknowningly asked to skip this extra security step</li></ul></div>">
						</span>
            </h2>
        </div>

        <div class="col-xs-12 ">&nbsp;</div>

        <div class="col-xs-12">
            <div class="panel-group" id="accordionTT1" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTT1">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionTT1" href="#collapseTT1" aria-expanded="false" aria-controls="collapseTT1">
                                <span class="caret"></span> Usage:
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTT1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTT1">
                        <div class="panel-body">
            Usage :<pre><code>&lt;span class=&quot;glyphicon glyphicon-asterisk&quot; aria-hidden=&quot;true&quot; data-toggle=&quot;popover&quot;
            data-placement=&quot;left | right | bottom | top&quot; data-content=&quot;tool tip text&quot;&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header"><h1>Tool Tip \ Pop-over <small>(variation on gray background)</small></h1></div>
    <div class="row bg-gray">
        <div class="col-sm-12 text-center">&nbsp;</div>

        <div class="col-sm-6 text-center">
            <h2>
						<span class="glyphicon glyphicon-question-sign popover-white" aria-hidden="true" data-toggle="popover" data-placement="top"
                              data-content="<div class='di-test'><ul><li>Lorem ipsum dolor sit ame</li><li>Lorem ipsum dolor sit ame</li><li>Lorem ipsum dolor sit ame</li><li>Lorem ipsum dolor sit ame</li></ul></div>"></span>
            </h2>
        </div>
        <div class="col-sm-6 text-center">
            <h2><span class="glyphicon glyphicon-map-marker popover-white" aria-hidden="true" data-toggle="popover" data-placement="bottom"
                      data-content="<div class='di-test'><h3>Why didI get this page?</h3><span>Common reasons include:</span><ul><li>You recently cleared your cookies <a href='#'>Learn more</a></li><li>You are browsing in private ir incognito mode</li><li>You are using a different browser from the one you set last time</li><li>You knowingly or unknowningly asked to skip this extra security step</li></ul></div>">
						</span>
            </h2>
        </div>
        <div class="col-sm-6 text-center">
            <h2><span class="glyphicon glyphicon-credit-card popover-white" aria-hidden="true" data-toggle="popover" data-placement="right"
                      data-content="<div class='di-test'><ul><li>Lorem ipsum dolor sit ame</li><li>Lorem ipsum dolor sit ame</li><li>Lorem ipsum dolor sit ame</li><li>Lorem ipsum dolor sit ame</li></ul></div>"></span>
            </h2>
        </div>
        <div class="col-sm-6 text-center">
            <h2><span class="glyphicon glyphicon-asterisk popover-white" aria-hidden="true" data-toggle="popover" data-placement="left"
                      data-content="<div class='di-test'><h3>Why didI get this page?</h3><span>Common reasons include:</span><ul><li>You recently cleared your cookies <a href='#'>Learn more</a></li><li>You are browsing in private ir incognito mode</li><li>You are using a different browser from the one you set last time</li><li>You knowingly or unknowningly asked to skip this extra security step</li></ul></div>">
						</span>
            </h2>
        </div>
        <div class="col-xs-12 ">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-12 ">&nbsp;</div>

        <div class="col-xs-12">
            <div class="panel-group" id="accordionTT" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTT">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionTT" href="#collapseTT" aria-expanded="false" aria-controls="collapseTT">
                                <span class="caret"></span> Usage:
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTT" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTT">
                        <div class="panel-body">

            <pre><code>&lt;span class=&quot;glyphicon glyphicon-asterisk popover-white&quot; aria-hidden=&quot;true&quot; data-toggle=&quot;popover&quot;
            data-placement=&quot;left | right | bottom | top&quot; data-content=&quot;tool tip text&quot;&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- POP OVER END -->
<script>
    $(document).ready(function () {
        initPopoverOverrides();
    });
</script>