:host .ulhorizontal{
    list-style: none;
    background-color: #ffff;
    display: table;
    width: 100%;
}
:host .ulhorizontal li{
    float: left;
   
}
:host .titleHead{
    width: 98%;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    height: 50px;
}
    :host .amountHead{
    width: 98%;
    margin: 25px auto;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    

}
:host .tiles-box{
    width:24% ;
   
}
:host .custom-slds-box{
    background-color: white;
    margin:2px;
    min-height: 100px;   
}