h4 {
    margin-top: 25px;
}
.row {
    margin-bottom: 20px;
}
.row .row {
    margin-bottom: 0;
    margin-top: 10px;
}
[class*="col-"] {
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
    padding-bottom: 15px;
    padding-top: 15px;
}
hr {
    margin-bottom: 40px;
    margin-top: 40px;
}
th, td {
	min-width: 200px;	
}
h1[id], h2[id] {
	padding-top: 70px;	
}

.viewport-ruler {
	background: #ddd	
}
.legend {
		
}
.legend-XS, .legend-S, .legend-M, .legend-L {
	display: inline-block;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
    
}

@media only screen and (min-width : 768px){
  
}

@media (max-width: 479px) {
	.media-query-gauge:after {
	content:"<480px";
}
	.legend-XS {
	}
}

@media (max-width: 767px) {
	.media-query-gauge:after {
	content:"<768px";
}
	.legend-XS {
	background: #54bceb;
	background: #f2f2f2;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.45);	
}
}
@media (min-width: 768px) and (max-width: 991px) {
	.media-query-gauge:after {
	content:"768px-991px";
}
	.legend-S {
	background: #66b360;
	background: #f2f2f2;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.45);	
}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.media-query-gauge:after {
	content:"992px-1199px";
}
	.legend-M {
	background: #fbb031;
	background: #f2f2f2;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.45);	
}
}
@media (min-width: 1200px) {
	.media-query-gauge:after {
	content:">1200px";
}
	.legend-L {
	background: #f1645d;
	background: #f2f2f2;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.45);	
}
}