.THIS .col-RP {
    padding-right:3px;
}

.THIS .col-space {
  /*  margin:3px ; */
   
}

.THIS .grey-back {
    background-color: rgb(217, 219, 221);
    
}


.THIS .border-white {
    border : 3px solid yellow ;
}