.THIS .centertext, .THIS span.slds-form-element__label {
    text-align: center;
}

.THIS legend {
	width:100%;
    text-align: center;
    font-size:15px;   
    margin-bottom : 20px;
}
.THIS .slds-badge {
    width: 65px;
    margin: auto;
    font-size: 12px;
    margin-top: 1px;
}
.THIS .xdiv {
   background-image: url(/resource/value_prompter/cross_icon.png);
   width: 16px;
   height: 16px;
   margin-left: 10px;
   margin-right: 10px;
}

.THIS .equaldiv {
   background-image: url(/resource/value_prompter/equal_icon.png);
   width: 16px;
   height: 16px;
   margin-left: 5px;
}
 
.THIS.slds-modal__container {
    width: 60%;
}

.THIS svg.slds-icon {
	fill : #fff;   
}

.THIS .slds-table {
    margin-top: 5px;
    margin-left: 2px;
}

.THIS tr.quesCell>td:first-child { 
    padding-left: 0px;
    border-bottom: 1px solid rgb(216, 221, 230); 
}

.THIS tr.quesCell>td:last-child { 
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid rgb(216, 221, 230);
}
.THIS .ctrhlt {
 	background-color: rgb(224, 229, 238); 
    text-align:center;   
}

.THIS .vp_section_header {
    padding-top: .90rem;
}

.THIS .ajaxLoad {
	position: absolute;
    top: 40%;
    left: 50%;
	color:rgb(176, 173, 171);    
}

.THIS .rdajaxLoad {
	position: absolute;
    top: 20%;
    left: 30%;
	color:rgb(176, 173, 171);    
}