<!-- FORM-INPUT START-->
<div class='di-container' id="intro">
    <div class="page-header"><h1>Introduction</h1></div>
    <div class="row">
        <div class="col-sm-12">
            This is a template showcasing a DI-styled version of stylesheet for Bootstrap. Please refer to <a href="http://di.facetstudios.com/guide">DI Style Guide</a> (di.facetstudios.com/guide) for complete specification.
            <h3>Credentials for Facet-Studios:</h3>
            <ul>
                <li><strong>leapfrog</strong></li>
                <li><strong>FNHtmXHPf9Qz</strong></li>
            </ul>

            <div class="media alert alert-message">
                <div class="media-left"></div>
                <div class="media-body">
                    <strong>Also see:</strong> Leapfrog theme <a href="components-css.html">Components</a> based on DI Style Guide.
                </div>
            </div>

        </div>
        <div class="col-sm-12">&nbsp;</div>
    </div>
</div>
<div class='di-container' id="container">
    <div class="page-header"><h1>Container Responsive Rules</h1></div>
    <div class="row">
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-12">
            <p>
                We use fixed containers driven by the device width. Use default <a href="http://getbootstrap.com/">Bootstrap</a> breakpoints (XS,S,M,L) along with the container width unless
                specified differently for a design.
                Page background is #EDEDED. Container background is #FFFFFF.
            </p>
            <table class="table table-striped">
                <thead>
                    <tr><th>Device width</th><th>Container width</th></tr>
                </thead>
                <tbody>
                <tr>
                    <td>(L) 1200px or higher</td><td>1170px</td>
                </tr>
                <tr>
                    <td>(M) 992px to 1199px</td> <td>970px</td>
                </tr>
                <tr>
                    <td>(S) 768px to 991px</td><td>auto (container flush to the edge of the device)</td>
                </tr>
                <tr>
                    <td>(XS) Less than 768px</td><td>auto (container flush to the edge of the device)</td>
                </tr>
                </tbody></table>
        </div>
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr><th>Container Width</th><th>Padding</th></tr>
                </thead>
                <tbody>
                <tr>
                    <td>L</td><td>30px  (from edge of the container to content)</td>
                </tr>
                <tr>
                    <td>M</td><td>30px (from edge of the container to content)</td>
                </tr>
                <tr>
                    <td>S</td><td>20px (from the edge of the container to content)</td>
                </tr>
                <tr>
                    <td>XS</td><td>15px (from the edge of the mobile phone to content)</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-12">
            <div class="panel-group" id="accordionMsg" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingMsg">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMsg" href="#collapseMsg" aria-expanded="false" aria-controls="collapseMsg">
                                <span class="caret"></span> View Usage:
                            </a>
                        </h4>
                    </div>
                    <div id="collapseMsg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMsg">
                        <div class="panel-body">
                            <div class="center-block">
                                <img style="width:90%" src="img/leapfrog-responsive-design-general.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">&nbsp;</div>
    </div>
</div>
<div class='di-container' id="typo">
    <div class="page-header"><h1>Typography by resolution</h1></div>
    <div class="row">
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr><th></th><th>Heading 1</th><th>Heading 2</th><th>Heading 3</th><th>Body text</th></tr>
                    </thead>
                    <tbody>
                        <tr><th>L, M, S</th><td>28px</td><td>24px</td><td>18px</td><td>16px</td></tr>
                        <tr><th>XS</th><td>24px</td><td>22px</td><td>16px</td><td>14px</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr><th>Container Width</th><th>Button Width</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>L, M, S</th>
                            <td>
                                <ol>
                                    <li>If there are buttons laid out side by side in the same row, the width of the button is determined by the longest label + 20 px inside on each size. Both buttons should be of the same width.</li>
                                    <li>If there is only one button on a row, the width of label + 20 px inside on each side.</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <th>XS</th><td>Container width with 15px padding on left and right</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
</div>
<!-- FORM-INPUT END-->