.THIS .tooltip {
    position: relative;
    display: inline-block;
    
}

.THIS .tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color :#f3f2f2;
    
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 70%;
    margin-left: -60px;
}

.THIS .tooltip .tooltiptext::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
}
.THIS .align-below {
    margin-bottom:2px;
}
.THIS .slds-button_icon{
    margin-bottom:5px;
}
.THIS .sldss-red{
    border-color: rgb(230, 13, 13);
    background-color: rgb(222, 32, 32);
}
.THIS .sldss-yel{
    border-color: rgb(230, 207, 13);
    background-color: rgb(222, 179, 32);
}
.THIS .sldss-grey{
    border-color: rgb(199, 206, 214);
    background-color: rgb(199, 206, 214);
}
.THIS .set_margin{
    margin-right:12px;
    margin-left:12px;
}
.THIS .set_margin_b{
    margin-bottom:5px;
}
.THIS .width_form{
    margin-right:5px;
    margin-left:5px;
    min-height:400px;
}
.THIS .slds-fade-in-open{
    
}
.THIS .Return_to_Nurture_Reason__c{
    display:none;
}
.THIS .hidetool {
    visibility: hidden;
}
.THIS .Disqualified_Reason__c{
    display:none;
}