:host .slds-border_bottom {
  border-bottom: 2px solid rgb(127, 127, 127);
}

:host .slds-border_left {
  border-left: 2px solid rgb(127, 127, 127);
}

:host .textColor {
  color: #646c64;
}

:host .img-icon {
  width: 75%;
  margin: 0px auto;
}

:host .img-icon:hover {
  width: 76%;
  cursor: pointer;
}

:host .prm-center {
  margin: auto;
}

:host .slds-text-body_small {
  font-size: smaller;
  list-style-position: inside;
}
:host .slds-text-align_center {
  font-size: 0.78rem;
}

:host .uilist {
  width: 85%;
  margin: 0px auto;
}

:host ul li::before {
  content: "\220E";
  color: #54b948;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

:host .slds-border_right {
  border-width: 2px;
}

:host .tooltip {
  display: inline;
  position: relative;
}

:host .tooltip:hover:after {
  background: #070707;
  background: #070708;
  border-radius: 5px;
  bottom: 15px;
  color: #fff;
  font-weight: 500;
  content: attr(data-title);
  left: 5%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}

:host .tooltip:hover:before {
  border: solid;
  border-color: #070707;
  border-width: 6px 6px 0 6px;
  bottom: 10px;
  content: "";
  left: 50%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  z-index: 99;
}