.THIS .section {
    background: #fff;
    border: 1px solid #eee;
    margin: 1rem;
}

.THIS .section { 
    background: #eee;
    border: 1px solid #ddd;
    margin: 1rem;
}


.THIS .section .section-heading {
    padding: 0.75rem 1rem;
    background: #ddd;
}

.THIS .text-notice {
    background: #fdf7c3;
    padding: 0.5rem 1rem;
    border: 1px solid #e4d979;
    margin: .75rem 1.5rem;
}

.THIS .slds-form-element {
    margin-bottom: 0.75rem;
}
.THIS .dropdownHeader{
    
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    border: 1px solid rgb(244, 244, 244);
}