.THIS .SVGFill {
    fill:#000000;
}
.THIS .slds_PSData{
    width: 70%;
    padding-right: .75rem;
}

.THIS .slds_PSData2{
    width: 30%;
    }

.THIS .packageImage{
   width: 40px;
    height: 40px;
    border-radius: 50%;
}
.THIS .dot {
  height: 100%;
  width: 25px;
  background-color: #6fc3cc;
  border-radius: 50%;
  display: inline-block;
  text-align:center;
}
.THIS .customError {
    background-color: rgb(255, 255, 255);
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;
}

.THIS span[class^="unchYellow" ] {
    color: rgb(244, 167, 66);
    font-weight: bolder;
}
.THIS span[class^="unchRed" ] {
    color: rgb(255, 0, 0);
    font-weight: bolder;
}
.THIS span[class^="unchGreen"] {
    color: rgb(2, 128, 15);
    font-weight: bolder;
    
}
.THIS .TRBGCOLOR {
    background: rgb(247, 249, 251);
}
.THIS .FACETCHKBOX {
    margin-left: 0.2rem;
}
.THIS .TXTBOXWIDTH {
    width: 85px;
}
.THIS .TXTBOXWIDTHLARGE {
    width: 100px;
}
.THIS .CelltruncateCustom{
    max-width:220px;
}
.THIS .CursorCustom{
    cursor: not-allowed;
}
.THIS .customModalCSS{
    width:31%;
    height:450px;
    top:165px;
}
.THIS .monthBtn{
    width: 70px;
    margin: 3.5px;
}
.THIS .slds-table th {
    font-weight: bold;
    height: 42.7px;
}

.THIS .tooltip {
    position: relative;
    display: inline-block; 
    border-bottom: 1px ;
}

.THIS .tooltipB {
    position: relative;
    display: inline-block; 
    border-bottom: 1px ;
}

.THIS .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
.THIS .tooltip .tooltiptextBottom {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.THIS .tooltip .tooltiptextLeft {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%; 
    margin-left: 4 px;
    opacity: 0;
    transition: opacity 1s;
}

.THIS .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.THIS .tooltip .tooltiptextBottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}
.THIS .tooltip .tooltiptextBottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}
.THIS .tooltip .tooltiptextLeft::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.THIS .tooltip:hover .tooltiptextBottom {
    visibility: visible;
    opacity: 1;
}

.THIS .tooltip:hover .tooltiptextLeft {
    visibility: visible;
    opacity: 1;
}

.THIS .slds-icon-text-default{
    fill: #000000;
}
.THIS .AMYNoShow{
    display:none;
}
.THIS .AMYShow{
    display:block;
}
.THIS .readOnlySuccessPkg{    
    color: #000000;
    background-color: rgb(128, 249, 221);
}
.THIS .readOnlyWarningPkg{    
    color: #000000;
    background-color: rgb(249, 178, 128);

}
.THIS .readOnlySuccess{    
    color: #000000;
    background-color: rgb(201, 241, 223);
}
.THIS .readOnlyWarning{    
    color: #000000;
    background-color: rgb(247, 218, 183);
}

.THIS .WarningColor {
        background-color: grey;
}

.THIS .HeaderColor{
        background-color: rgb(255, 183, 93);
}

.THIS .customWidth{
        width:100px;
}
/* Added by Divya C for UI issue */
.THIS .slds-page-header__detail-row {
    display:block ; 
}

.THIS .override-bgColor {
    background-color : rgb(250, 250, 249) !important;
    
    
    
    
}

.THIS .customColumnSize{
    width : 10%;
}

.THIS .slds-spinner_container {
    margin-top: 10%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9050;
    background-color: rgba(255, 255, 255, 0.75);
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease,visibility 0s;
    transition-delay: 0s,.3s;
}
.THIS .pickSelect{
    width:120px;
    display:inline-block;
}

.THIS .oppinput {
	display: inline-block; 
    width: 100px;
}

.THIS .opplabel {
	vertical-align:top;
}

.THIS div.pickSelect label {
    display:none;
}